.parent{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 1rem;
    padding:2%;
}
.parent > div{
    margin-top: 0px;
    border: 1px solid white ;
    justify-content: center;
    background-color: #003459;
    color: #FFF2F9;
    height: 300px;
    cursor: pointer;
}
.hotels>span{
    margin-left: 5px;

}
.picture{
    width:100%;
    height: 200px;
}
.container>h2{
    color: #FFF2F9;
    text-align: center;
    font-weight: 500;
    font: bold;
}